
<!-- Creando la barra de busqueda-->
<!--('products:search') -- debido al app name define el nombre de la ruta correctamente-->
<form action={% url 'products:search' %}> 
    <div class="input-group">
        <!-- apartir de la llave (q) buscaremos en el queyset , con ese titulo--> 
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar">
        <div class="input-group-append">
            <input type="submit" name="" value="Buscar" class="btn btn-primary">
        </div>
    </div>
</form>

