{% extends 'base.html'%}

{% block content %}
    <div class="col">
    <!-- usando la 'message' variable del contexto desde la vista-->
      <h4 class="text-center"> {{ message }}</h4>  
      
      <!-- Incluydendo la barra de busqueda -->
      {% include 'products/snippets/search.html'%}

      <div class="row"> 
        {% for product in object_list %} <!-- Se declara de variable product object_list(llave que se obtiene del QuerySet) --- muestra el listado del producto-->
            <div class="col-3 mt-5">

                <!-- llamando desde el template del snippets-->
                {% include 'products/snippets/product.html' %}
                
            </div>   
        {% endfor %}
      </div>
    </div>
{% endblock %}
<!---->