{% extends 'base.html '%}
{% block content %}

<div class="col">
    <h3>Login</h3>

    <!--formulario-->
    <form method="post">
    <!-- evitar ataques-->
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control">

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}



